<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="Shortcut Icon" href="/images/content/Icon.ico" />
    <link rel="stylesheet" href="/stylesheets/theme.css" />
    <link rel="stylesheet" href="/stylesheets/TitikCss.css" />
    <link rel="stylesheet" href="/stylesheets/menustyles.css" />
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/javascripts/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dataTables.bootstrap.css"/>
    <script src="/javascripts/jquery.dataTables.min.js"></script>
    <script src="/views/branch.js"></script>
    <style type="text/css">
        .toolbar {
        float: right;
    }
    </style>
  </head>
  <body>
  	<% include menu.ejs %>
      <div class='container' style="padding-top:100px; width:1250px; height:114.1px">
        <div class='row backgroundtulisan' style="padding-top:10px;padding-bottom:30px">
          <div class="col-md-12 backgroundTulisan">
            <h3>ข้อมูลสาขา - Information Branch</h3>
          </div>
        </div>

        <div class='row' style="padding-top:25px; color:black">
          <div class="col-md-12">
            <div class="table-responsive">
            <table class='table table-striped table-hover' id='table_id'>
              <thead>
              <tr class="bg-info">
                <th class="text-center">รหัสสาขา - Branch Code</th>
                <th class="text-center">ชื่อสาขา - Branch Name</th>
                <th class="text-center" style='width:80px'>Action</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    <!--                view              -->
    <div class="modal container fade " id="viewbranch" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4>ข้อมูลสาขา - Information Branch</h4>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="vbranchID" class="col-sm-2 col-form-label text-right">รหัสสาขา - Branch Code</label>
              <div class="col-sm-4">
                <span class="form-control" id="vbranchID"></span>
              </div>
              <label for="vbranchName" class="col-sm-2 col-form-label text-right">ชื่อสาขา - Branch Name</label>
              <div class="col-sm-4">
                <span class="form-control" id="vbranchName"></span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">ปิด - hush</button>
          </div>
        </div>
      </div>
    </div>
    <!--                edit              -->
    <div class="modal container fade " id="editbranch" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4>แก้ไขสาขา - fix branch</h4>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="ebranchID" class="col-sm-2 col-form-label text-right">รหัสสาขา</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="ebranchID"></input>
              </div>
              <label for="ebranchName" class="col-sm-2 col-form-label text-right">ชื่อสาขา</label>
              <div class="col-sm-4">
                <input type="text"  class="form-control" id="ebranchName"></input>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" id='ebid'>
            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-danger btn-ok" data-target="#modal">แก้ไข</button>
          </div>
        </div>
      </div>
    </div>
    <!--                add              -->
    <div class="modal container fade " id="addbranch" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4>เพิ่มสาขา</h4>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="abranchID" class="col-sm-2 col-form-label text-right">รหัสสาขา</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="abranchID"></input>
              </div>
              <label for="abranchName" class="col-sm-2 col-form-label text-right">ชื่อสาขา</label>
              <div class="col-sm-4">
                <input type="text"  class="form-control" id="abranchName"></input>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-danger btn-ok" data-target="#modal">เพิ่มสาขา</button>
          </div>
        </div>
      </div>
    </div>
    <!--            delete            -->
    <div class="modal container fade" id="delbranch" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>ต้องการลบสาขา <span id='abname'></span> ใช่หรือไม่ ?</h4>
          </div>
          <div class="modal-footer">
            <input type="hidden" id='delbid'>
            <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
            <button type="button" class="btn btn-danger btn-ok" data-target="#modal">ตกลง</button>
          </div>
        </div>
      </div>
    </div>  
      
  </body>
</html>