
<!DOCTYPE html>
<html>
  <head>
    <title>Change Password</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="Shortcut Icon" href="/images/content/Icon.ico" />
    <link rel="Stylesheet" href="/stylesheets/theme.css" />
    <link rel="Stylesheet" href="/stylesheets/menustyles.css" />
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
    <script type="text/javascript" src="/javascripts/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
    
    <script type="text/javascript">
    function check_data(){
        $('#lbAlert').html(""); 
        if (($('#txtPWDO').val() == "") || ($('#txtPWD').val() == "") || ($('#txtPWDR').val() == "")){
                $('#lbAlert').html("กรุณาใส่ข้อมูล Password"); 
                return false;
        }
        if ($('#txtPWD').val() !== $('#txtPWDR').val()){
        	$('#lbAlert').html('ข้อมูล Password ไม่ตรงกัน');
        	return false;
        }
        
		if ($.trim($('#txtPWD').val()).length < 8){
			$('#lbAlert').html('Password ต้องมีจำนวนอักษรมากกว่าหรือเท่ากับ 8 ตัว');
			return false;
		}
		if ($.trim($('#txtPWD').val()).length > 30){
			$('#lbAlert').html('จำนวนตัวอักขระของ Password มากกว่าที่กำหนดไว้ต้องมีน้อยกว่า 30');
			return false;
		}
	
		//////////ตัวแรกเป็นภาษาอังกฤษ/////////////////
		var fstChr = $.trim($('#txtPWD').val().toUpperCase());						
	    if (fstChr[0] < 'A' || fstChr[0] > 'Z') {
	    	$('#lbAlert').html('Password ตัตวแรกต้องเป็นตัวอักษรเท่านั้น...');
	    	return false;
	    }
	    ///////////รหัสต้องมีเลข////////////////
	    var num = 0;
	    var pwd = $.trim($('#txtPWD').val());
	    //var pwdlength = $.trim($('#central-user-password').val();
	    for (var i = 0; i < pwd.length; i++){
	    	if (pwd[i] >= '0' && pwd[i] <= '9' ) num++;
//	    	console.log('pwd=',pwd[i]);
	    	}
	    if (num < 1) {$('#lbAlert').html('Password ต้องมีจำนวนตัวเลขมากกว่าหรือเท่ากับ 1 ตัว');
	    	return false;
	    }
	    
        $.post( "/changepwd", { username: $('#txtUser').val(),
        					userid: $('#txtID').val(),
        					oldpassword: $('#txtPWDO').val(),
        					password: $('#txtPWD').val()})
        .done(function( data ) {
        	console.log(data);
          	if(data){
          		if (data !== 'Change Password Complate.'){
              		$('#lbAlert').html(data);
          		}else{
          			alert(data);
          			window.location.assign('/logout');
          		}
          	}
        });
        return true;
}
    </script> 
    <style type="text/css">
    	
	.stylish-input-group .input-group-addon{
    		background: white !important;
	}
	.stylish-input-group .form-control{
		border-right:0; 
		box-shadow:0 0 0; 
		border-color:#ccc;
	}
	.stylish-input-group button{
    		border:0;
    		background:transparent;
	}

	.inputLogin
        {
            width: 100%;
            padding: 5px 5px 5px 5px;
            margin: 0 0 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: solid #999 1px;
        }
        .buttonLogin
        {
            width: 100%;
            padding: 6px 5px 6px 5px;
        }

	/* centering styles for jsbin */
	html, body
	{
		width: 100%;
		height: 100%;
	}
	html
	{
		display: table;
	}
	.row-centered
	{
		text-align: center;
	}
	.col-centered
	{
		display: inline-block;
		float: none; /* reset the text-align */
		text-align: left; /* inline-block space fix */
		margin-right: -4px;
	}
	.col-fixed
	{
		/* custom width */
		width: 320px;
	}
	.col-min
	{
		/* custom min width */
		min-width: 320px;
	}
	.col-max
	{
		/* custom max width */
		max-width: 320px;
	}


	/* visual styles */
	body.login
	{
		display: table-cell;
		vertical-align: middle;
		padding-bottom: 40px;
	}
	h1.login
	{
		margin: 20px 0px 20px 0px;
		font-size: 30px;
		line-height: 34px;
		text-align: center;
		color: White;
	}

    </style>
</head>
<body class="login">
    <div class="container">
    	<% include menu.ejs %>
        <div class="row row-centered">
            <form id="frmlogin" method="post" action="/login">
            <div class="col-md-4 col-centered">
                <h3 style='padding-bottom: 15px'>Change Password</h3>
                <input type="hidden" name="txtID" ID="txtID" class="inputLogin" placeholder="Password" value='<%= user._id %>'></input>
     
                <input type="textbox" name="txtUser" ID="txtUser" class="form-control inputLogin" placeholder="Username" readonly="readonly" value='<%= user.userName %>'></input>
                <input type="password" name="txtPWDO" ID="txtPWDO" class="inputLogin" placeholder="Old Password"></input>
                <input type="password" name="txtPWD" ID="txtPWD" class="inputLogin" placeholder="Password"></input>
                <input type="password" name="txtPWDR" ID="txtPWDR" class="inputLogin" placeholder="Confirm Password"></input>
                
                <div align="center">
                    <span name="lbAlert" ID="lbAlert" class="text-danger"><span></div>
                	<input type="button" name="btnLogin" ID="btnLogin" class="btn btn-danger buttonLogin" Style="margin-top: 10px;" value="Change" onclick="return check_data();" />
         </div>
            </form>

        </div>
    </div>

    </body>
</html>